
/*
 * use crispEdges for a sharper looking axis
 * since these are vertical/horizontal lines
 */
.axis line, .axis path{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect.segment {fill-opacity: 0.5;}

.title {font-family: Roboto; font-weight: bold; font-size: 14px; padding:0.6em;}
.profile-title .title {font-size: 22px;padding: 8px;}

.metric-groups-partition {height:100px;}
.metric-groups-set {height:600px;align-items:stretch;display:flex;flex-direction: row;}
.metric-groups {display:flex;flex:1;flex-direction: column; order:-1;}
.metric-group {display:flex;flex-direction:column;flex:1;}
.metric-ranks {display:flex;flex-direction:column;flex-basis:300px;}
.partition {
    border: 1px solid #BBDEFB; flex:1; margin:0 0.5em; display:flex;align-items: center;
}

.title {
    display:flex;
    flex-direction: row;
}
.title .title-content {}
.title .tools {align-self: flex-end;}
.title .tools .tool {margin: 0 4px;}